body{
    background-color: lightblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:olivedrab;
    font-weight: bold;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 250px;
    width: 215px;
}