body{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: white;
    font: size 60px;;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 250px;
    width: 215px ;
}